:root {
    --header-height: 40px;
    --padding: 20px;

    --light-gray: rgb(235, 235, 235);
    --green: #32936F;

    --red: rgb(203, 68, 61);
    --dark-red: rgb(124, 22, 13);
    --gray: rgb(248, 248, 248);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.header {
    height: var(--header-height);

    background-color: var(--red);
}

.content-container {
    width: 100vw;
    height: calc(100vh - var(--header-height));

    display: flex;
}

/* sidebar */

.sidebar {
    width: 200px;

    padding: var(--padding);
    box-sizing: border-box;

    background-color: var(--gray);
    
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    height: 30px;
    width: 100%;

    font-size: 20px;

    text-align: left;
    padding-left: var(--padding);

    background-color: var(--gray);
    border: none;
}

.sidebar-item:hover {
    background-color: var(--light-gray);
}

.sidebar-item:active {
    background-color: var(--light-gray);
}

/* todos */

.main-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.list-title {
    padding: var(--padding) 0px 0px var(--padding);

    font-size: 30px;
    font-weight: 500;
}

.todo-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.list-item {
    padding-left: var(--padding);
}