:root {
    --header-height: 50px;
}

body {
    width: 100vw;
    height: 100vh;
}

.header {
    height: var(--header-height);
    background-color: orange;
}

.content-container {
    width: 100vw;
    height: calc(100vh - var(--header-height));

    display: flex;
}

.sidebar {
    flex: 1;
    background-color: red;
}

.main-content {
    flex: 1;
    background-color: blue;
}